/* general styling */
.root{
    --dark: #2b452b;
    --light: antiquewhite;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    background-color: antiquewhite;
}


/* Desktop View */

/* Costant Styling */
/* Header */
header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#2b452b ;
    padding:0 2em;
    width:100vw;
}
header img{
    height:3em;
    width:3em;
    border:3px solid antiquewhite;
    border-radius: 0.5em;
    margin:0.5em;
}
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;

}
.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding:1vw;
    text-transform: uppercase;
    font-family:"Architects Daughter","sans-serif";
    font-weight:600;
}

.navbar a:active {
    color:blueviolet;
}
.navbar a:hover {
    color:aquamarine;
    cursor:pointer;
}
.navbar a:visited {
    color:aliceblue;
}

/* footer */
footer{

    width:100vw;
    max-height:14vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size: .75em;
    background-color:rgb(43,69,43,1);
    color:aliceblue;
    padding: .3em;
    margin-top:3em;
    font-family:"Architects Daughter","sans-serif";
    position:absolute;
    bottom:0;
}
.social-media-footer img{
    width:3em;
    height:3em;
    background-color: antiquewhite;
    border-radius:20%;
}
.social-media-footer{
    width:80vw;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:.5em;
    flex-wrap:wrap;
}
.credits{
    text-decoration: none;
    color:antiquewhite;

}


/* Home Page Styling starts*/
.Home{
    display:flex;
    align-items:center;
    width:80vw;
    height:80vh;
    justify-content:space-between;
    font-size:20px;
    font-family:"Lobster";
    color:#2b452b;
    margin:auto;
}

.photo{
    padding:2vw;
    margin: auto;
    height:30%;
    width:30%;
}

.photo img{
    border:.5em solid #2b452b;
    border-radius:20%;
    max-width:30vw;
    max-height:30vh;
}

.bio{
    text-align:justify;
    padding-left:10vw;
    max-width:60vw;
    max-height:60vh;
}

.bio-title{
    text-align:center;
    margin-bottom:2em;
    font-size:2vw;
}

.bio-title h1{
    text-transform: uppercase;
}

.description{
    font-family:"Architects Daughter","sans-serif";
    font-size:2vw;
}
/* Home Page styling finished*/

/* Contact Page Styling starts*/
.Contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
    margin: 5em auto;
}
.tab-display{
    display:flex;
    margin:auto;

}
.tab-display img{
    width:40%;
    margin-right:2.5em;
}
form{
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:1em 0;
    margin:auto;
    width:40vw;
}
#logo{
    margin-top:4em;
    width:20vw;
    height:20em;
    border-radius: 50%;
}

#phone{
    width:1em;
    height:1em;
    background-color:aliceblue;
    margin-top:.6em;
    margin-right:.4em;
    line-height:0.8em;
    position:relative;
    top:0.2em;
}

#email{
    width:1.1em;
    height:1.1em;
    background-color:aliceblue;
    position:relative;
    top:0.2em;
}

.submit{
    background:rgba(43,69,43,.8);
    color:antiquewhite;
    border-color: antiquewhite;
    line-height: 2em;
}


.social-media{
    display:flex;
    justify-content:space-between;
    padding: 0.5em;
    width:80%;
    margin:auto;

}

.social-media img{
    height:3em;
    width:3em;
    background-color: aliceblue;
}

.contact-form{
    display:flex;
    flex-direction:column;
    justify-content:center;
}



.contact-info{
    display:block;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top:5em;
}
.info{
    display:block;
    text-align:center;
    width:auto;
    height:auto;
    margin:1em;
    padding:1em;
}

.contact-form{
    margin:auto;
}
.contact-form h1,h3{
    text-align:center;

}

main{
    width:90vw;
}
/* Contact Page Styling finished*/

/* Tablet view */
@media screen and (max-width: 1024px) {

    /* Footer*/
    footer{
        position:fixed;
        bottom:0;
        left:0;
        min-height:10vh;
    }

    /* Home Page styling starts*/
    .Home{
        justify-content: flex-start;
    }

    .photo{
        padding:2vw;
        margin: auto;
    }

    .photo img{
        border:.5em solid #2b452b;
        border-radius:20%;
        max-width:30vw;
        max-height:30vh;
    }

    .bio{
        text-align:justify;
        max-width:50vw;
        max-height:50vh;
        margin-left:2em;

    }

    .bio-title{
        text-align:center;
        margin-bottom:2em;
        font-size:11pt;
    }

    .description{
        font-size:10pt;
    }
    /* Home Page styling finished*/

    /* Contact Page Styling starts*/
    .social-media{
        width:100%;
        margin-top:0.3em;
        margin-bottom:5em;
    }
    .Contact{

        width:100vw;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .tab-display{
        width:90vw;
    }
    .tab-display img{
        width:auto;
        margin:auto 0;
    }

    /* Contact Page Styling finished*/

}

/* Mobile View */
@media screen and (max-width: 450px) {
    /* Header */
    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        background-color:#2b452b ;
        width:100vw;
    }

    header img{

        border:3px solid antiquewhite;
        border-radius: 0.5em;
    }
    .navbar{
        flex-wrap:wrap;
    }

    /* Footer*/
    footer{
        position:fixed;
        bottom:0;
        left:0;
        min-height:10vh;
    }

    /* Home page styling starts*/
    .Home{
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-top: 1em;
    }
    .bio{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin:1em auto;
        padding:0;
        max-width:80vw;
    }
   .photo{
       margin:auto;
       padding:0;
   }

    .bio-title{
        font-size:15px;
    }

    .description{
        font-size:14px;
    }
    /* Home Page styling finished*/


    /* Contact Page Styling starts*/
    .tab-display{
        display: flex;
        flex-direction:column;
        width:90vw;
        justify-self: flex-start;
    }
    #logo {
        max-width: 40vw;
        border-radius: 50%;
        align-self: center;
        max-height:40vw;
        margin-top:0;
    }
    .Contact{
        margin:1em auto;
    }
    /* Contact Page Styling finished*/
}
