.root{
    --main-color:rgb(43,69,43);
    --background-color:rgb(244,145,75);
   }   /* Overall styling-->*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
header{
    position:fixed;
    top:0;
    left:0;
    min-height:8vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#2b452b ;
    padding:0 2em 0 0;
    width:100vw;
}
header img{
    height:3em;
    width:3em;
    border:3px solid antiquewhite;
    border-radius: 0.5em;
    margin:0.5em 0.5em 0.5em 0em;
}
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 1vw;
    flex-wrap:wrap;
    align-items:center;
    width:80vw;

}
.navbar a{
    padding:0.75em;
    color:antiquewhite;
    text-decoration: none;
    border:1px solid white;
    border-radius:1em;
    padding:10px;
    margin:auto;
    text-transform:uppercase;
    font-family:"Architects Daughter","sans-serif";
    font-weight:600;
    width:7em;

}
nav a:active{
    color:coral;

}
.navbar a:hover{
    color:aquamarine;
    cursor:pointer;
}
.navbar a:visited{
    color:aliceblue;
}


body{
    font-family:"Lobster","Helvetica",serif;
    background-color: antiquewhite;
    color:rgb(43,69,43);
    width:100vw;
    font-size:18px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center; */
}
main{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-bottom:1em;
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    min-height:10vh;
    width:100vw;
    height:14vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size: .75em;
    background-color:rgb(43,69,43,1);
    color:aliceblue;
    padding: .3em;
    margin-top:3em;
    font-family:"Architects Daughter","sans-serif";
}
footer a{
    color:aliceblue;
}
.social-media-footer{
    width:80vw;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:.5em;
    flex-wrap:wrap;


}
.social-media-footer img{
    height:3em;
    width:3em;
    background-color: aliceblue;
    border-radius:20%;
}
/*.twitter-icon-hover{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    object-fit:contain;
    opacity:0;
    transition: opacity .2s;


}
.twitter-icon-hover:hover{
    opacity:1;
    z-index:1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    object-fit:contain;
}
#twitter:hover{
    background-image:url('images/twitter.gif');
}*/
/* Mobile-first layout */
/*  Home page styling  */
.Home{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:80vw;
    height:80vh;
}
.photo{
    padding:2vw;
    
    width:30vw;
}
.photo img{
    border:.5em solid #2b452b;
    border-radius:20%;
    width:30vw;
    height:30vw;

}
.bio{
    text-align:justify;
    width:80vw;

}
.bio-title{
    text-align:center;
    margin-bottom:2em;
}
.bio-title h1{
    text-transform: uppercase;
}

/*About Me page styling*/
.about_me{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    position:relative;
    top:3em;
    margin-bottom:10em;
}

.about_me h1{
    font-weight:900;
    font-size:2em;
    max-width: 80vw;

}
.about_me h3{
    max-width: 80vw;
}
.about_me p{
    max-width:80vw;
    justify-content:center;
}
.qualification{
    display:flex;
    flex-direction:column;
    border: 1px solid black;
    flex-wrap:nowrap;
    margin:1em;
}
.qualification h3{
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    border:1px dotted ;
}
.Education, .Experience{
    display:flex;
    flex-direction:row;
    max-width:80vw;
    padding:1em;
}
section div{
    padding: 0.5em;
    margin:0.5em;

}

.resume{
    display:flex;

}
.resume img{
    height:1.5em;
    width:1.5em;
    margin-left:10px;
}
/*Blog styling*/
.blog-nav{
    position:relative;
    display:inline-block;
}
/*dropdown list(hidden by default)*/
.dropdown-content{
    display:none;
    position:absolute;
    z-index:1;
}
.dropdown{
    font-size:1em;
    font-weight:500;
    font-style: italic;
    color:antiquewhite;
    background-color: rgba(43,69,43,.8);

}
.dropdown-content a{
    color:antiquewhite;
    text-decoration:none;
    display:block;
}
/*dropdown list appear when hovering over */
.blog-nav:hover .dropdown-content{
    display:block;
}
.blog-nav:hover .dropdown-content a{
    color:antiquewhite;
    background-color:rgba(43,69,43,.8);
}
.blog-nav:hover .dropdown-content a:hover{
    color:antiquewhite;
}
.main-heading{
    margin-top:1.5em;
}
.blog{
    display:flex;
    flex-direction:column;
}
.blog-nav{
    background-color:rgba(43,69,43,0.3);
}
.blog-content{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    text-align:justify;
}
.blogs h3{
    margin-top:0.75em;
    text-align:left;
    font-size:1.5em;
}
.blogs h4{
    margin:0.25em;
    font-size:1em;
    margin-bottom:0.5em;
}
.blogs{
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-width:90vw;
}
.blogs img{
    max-width:70vw;
    max-height:50vh;
    border:2px solid aliceblue;
    margin-top:1.5em;
    margin-bottom:1.5em;
    align-self:center;
}
#blog5{
    margin-bottom:5em;
}

/* Contact page styling*/
#logo{
    margin-top:4em;
    width:10em;
    height:10em;
    justify-self:center;
    border-radius: 50%;
}
.contact-form{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.tab-display{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
form{
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:1em 0;
    margin:auto;
    width:80vw;

}
.submit{
    background:rgba(43,69,43,.8);
    color:antiquewhite;
    border-color: antiquewhite;
}
#phone{
    width:1em;
    height:1em;
    background-color:aliceblue;
    margin-top:.6em;
    margin-right:.4em;
    line-height:0.8em;
    position:relative;
    top:0.2em;
}
#email{
    width:1.1em;
    height:1.1em;
    background-color:aliceblue;
    position:relative;
    top:0.2em;
}
.info{
    width:auto;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:1em;
    padding:1em;
}
.social-media{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding: 0.5em;
    margin-top:0.3em;
    margin-bottom:5em;
    position:sticky;
    bottom:3em;
}

.social-media img{
    height:3em;
    width:3em;
    background-color: aliceblue;
}
/*contact page styling finished*/

/*tablet display*/

@media screen and (min-width: 500px) {
    /* universal */
    .navbar{
        justify-content:flex-end;
        margin-right:3em;
    }
    .photo{
        margin-bottom:5vh;
        width:30vw;
    }
    .navbar a{
        margin-right:.8em;
    }
    /* Home page styling */
    .Home img{
        
        border-radius:5em;
    }
    .Home{
        margin-bottom:5em;
    }
    .bio{
        padding-left:10vw;
        width:100vw;
    }
    /* Blogs */
    .blogs img{
        order:1;
        max-height:15em;
        max-width:15em;
    }
    .blog{
        max-width:30em;
        display:flex;

        justify-content:flex-start;
        align-items: left;
    }
    .main-heading{
        margin-left:0.1em;
        font-weight:800;
        font-size:2.5em;
        margin-top:1.5em;
    }
    .blog-nav{
        position:fixed;
        right:1em;
        top:10em;
    }
    .blog-content{
        max-width:80vw;
        justify-content:left;

    }
    .blogs{
        text-align:justify;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;

    }


    /*contact page*/

    .contact{
        font-size:2em;
        width:100vw;
    }
    .tab-display{
        display:flex;
        flex-direction:row;
        margin-top:5em;
        justify-content:center;
        align-items:center;

    }
    .tab-display img{
        max-width:30vw;
        margin-right:2.5em;
    }

   form{
        display:flex;
        flex-direction:column;
        max-width:50vw;
        margin:auto;
    }



}

/* desktop view */

@media screen and (min-width: 900px) {
    /* home page */
    .Home{
        display:flex;
        flex-direction:row;
        align-items: center;
        width:80vw;
        height:80vh;
        padding-top:2em;
        
    }
    .Home img{
        padding:3em;
    }
    /* About Me page */



    /* Blogs page */

    /* contact page */

    .Contact{
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        margin-bottom:3em;
    }
    .contact-info{
        display:block;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding-top:10em;
    }
    .info{
        display:block;
        text-align:right;

    }.contact-form{
        margin:auto;
    }
    .social-media{
        width:80%;
        margin:auto;
    }
    footer{
        height:14vh;

    }
    main{
        width:90vw;
    }

}
